@model string

@{ Layout = null; }

<!Doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
    </head>
    <body>
       @* <div class="bg-secondary text-white text-center m-2 p-2">@Model</div>*@
    <div class="bg-secondary text-white text-center m-2 p-2">@Html.Raw(Model)</div>
    </body>
</html>